<footer>
    <div class="cont-footer">
        <div class="info">
        <p>Escribinos :<a href="mailto:consultas-sugerencias@petway.com">consultas-sugerencias@petway.com</a></p>
        <p>Teléfono de contacto: 4999-7777</p>
        <p>whatssap:(54)112323-8888</p>
        <p>Atención:Lunes a sàbados de 9:00 a 19:00 hs</p>
        </div>

        <div class="redes">
            <h5>Seguinos:</h5>
            <img src="assets/img/logos/facebook_icon.png" alt="icon" width="30">
            <img src="assets/img/logos/instagram_icon.png" alt="icon2" width="30">
        </div>
    </div>
</footer>