<footer>
    <div class="cont-footer">
        <div class="info">
        <p>Escribinos: <a href="mailto:consultas-sugerencias@petway.com">consultas-sugerencias@petway.com</a></p>
        <p>Teléfono de contacto: 4999-7777</p>
        <p>Whatsapp: (54)112323-8888</p>
        <p>Atención: De lunes a sábados de 9:00 a 19:00 hs</p>
        </div>

        <div class="redes">
            <h5>Seguinos:</h5>
            <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-bounce fa-xl" style="color: #148527;"></i></a>
           <a href="https://www.facebook.com/petway.mexico/?locale=es_LA"><i class="fa-brands fa-facebook fa-beat fa-xl" style="color: #175cd3;"></i></a> 
         <a href="https://www.instagram.com/the.petway/"><i class="fa-brands fa-instagram fa-beat-fade fa-xl" style="color: #bd0a72;"></i></a>   
        </div>
    </div>
</footer>