<main>
    <br>
    <div class="grillaProductos" align="center">
        <div class="row gy-3">
            <!-- Tabla de navegación de las operaciones de base de datos -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-listado-tab" data-bs-toggle="tab" data-bs-target="#nav-listado" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Listado</button>
                <button class="nav-link" id="nav-altas-tab" data-bs-toggle="tab" data-bs-target="#nav-altas" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Altas</button>
                <button class="nav-link" id="nav-modif-tab" data-bs-toggle="tab" data-bs-target="#nav-modif" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Modificaciones</button>
                <button class="nav-link" id="nav-bajas-tab" data-bs-toggle="tab" data-bs-target="#nav-bajas" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Bajas</button>
                </div>
            </nav>
            <!-- Contenido de cada Tabla -->
            <div class="tab-content" id="nav-tabContent">
                
                
                <!-- Contenido de tabla Listado -->
                <div class="tab-pane fade show active" id="nav-listado" role="tabpanel" aria-labelledby="nav-listado-tab" tabindex="0">

                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Código</th>
                                                    <th>Descripción</th>
                                                    <th>Cantidad</th>                
                                                    <th align="right">Precio</th>
                                                    <!-- <th>Imagen</th> -->
                                                    <th align="right">Proveedor</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tablaProductos"> </tbody>
                                        </table>
                                        <script>
                                          //const URL = "http://127.0.0.1:5000/"
                                          //const URL = "https://arielfsp.pythonanywhere.com/"
                                        const URL2 = "http://localhost:5001/"
                                          // Realizamos la solicitud GET al servidor para obtener todos los productos
                                        fetch(URL2 + 'product')
                                            .then(function (response) {
                                                console.log(response.json())
                                                return response.json()
                                                  // if (response.ok) {return response.json(); }
                                            })
                                            .then(function (data) {
                                                console.log(data)
                                                let tablaProductos = document.getElementById('tablaProductos');
                                                  // Iteramos sobre los productos y agregamos filas a la tabla
                                                for (let producto of data) {
                                                    let fila = document.createElement('tr');
                                                    fila.innerHTML = '<td>' + producto.id + '</td>' +
                                                        '<td>' + producto.name + '</td>' +
                                                        '<td align="right">' + producto.quantity + '</td>' +
                                                        '<td align="right">' + producto.price + '</td>';
                                                          // Mostrar miniatura de la imagen
                                                          //'<td><img src=./static/imagenes/' + producto.imagen_url +' alt="Imagen del producto" style="width: 100px;"></td>' +
                                                          //'<td align="right">' + producto.proveedor + '</td>';
                                                    tablaProductos.appendChild(fila);
                                                }
                                            })
                                            .catch(function (error) {
                                                  // Código para manejar errores
                                                alert('Error al obtener los productos.');
                                            });
                                    </script>
                </div>
                <!-- Contenido de tabla Alta de productos -->
                
                <div class="tab-pane fade" id="nav-altas" role="tabpanel" aria-labelledby="nav-altas-tab" tabindex="0">
                <div class="contenedorForm">
                                <form id="formulario" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="codigo">Código:</label>
                                    <input type="text" id="codigo" name="codigo" required><br>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">Descripción:</label>
                                    <input type="text" id="descripcion" name="descripcion" required><br>
                                </div>
                                <div class="mb-3">
                                    <label for="cantidad">Cantidad:</label>
                                    <input type="number" id="cantidad" name="cantidad" required><br>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">Precio:</label>
                                    <input type="number" step="0.01" id="precio" name="precio" required><br>
                                </div>
                                    <!-- <label for="imagenProducto">Imagen del producto:</label>
                                    <input type="file" id="imagenProducto" name="imagen"> -->
                                    <div class="mb-3">
                                    <label for="proveedorProducto">Proveedor:</label>
                                    <input type="text" id="proveedorProducto" name="proveedor">
                                </div>
                                    <button type="submit" class="btn btn-primary">Agregar Producto</button>
                                </form>
                </div>
                            
                                
                                

                </div>

                <!--Contenio de tabla modificación de productos -->
                <div class="tab-pane fade" id="nav-modif" role="tabpanel" aria-labelledby="nav-modif-tab" tabindex="0">

                                <div id="app" class="contenedorForm">
                                    <form @submit.prevent="obtenerProducto">
                                    <div class="mb-3">
                                        <label for="codigo">Código:</label>
                                        <input type="text" v-model="codigo" required><br>
                                    </div>
                                    </form>
                            
                                    <div v-if="mostrarDatosProducto">
                                        <h4>Datos del Producto</h4>
                                        <form @submit.prevent="guardarCambios">
                                        <div class="mb-3">
                                            <label for="descripcionModificar">Descripción:</label>
                                            <input type="text" id="descripcionModificar" v-model="descripcion" required><br>
                                        </div>
                                            <div class="mb-3">
                                            <label for="cantidadModificar">Cantidad:</label>
                                            <input type="number" id="cantidadModificar" v-model="cantidad" required><br>
                                            </div>
                                            <div class="mb-3">
                                            <label for="precioModificar">Precio:</label>
                                            <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>
                                            </div>
                                            <!-- Imagen actual del producto
                                            <img v-if="imagen_url && !imagenSeleccionada" :src="'./static/imagenes/' + imagen_url"
                                                alt="Imagen del producto" style="max-width: 200px;"> -->
                            
                                            <!-- Vista previa de la nueva imagen seleccionada -->
                                            <!-- <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva imagen"
                                                style="max-width: 200px;"> -->
                            
                                            <!-- Input para nueva imagen -->
                                            <!-- <label for="nuevaImagen">Nueva Imagen:</label>
                                            <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br> -->
                                            <div class="mb-3">
                                            <label for="proveModificar">proveedor:</label>
                                            <input type="number" id="proveModificar" v-model="proveedor" required><br>
                                            </div>
                                            <div class="mb-3">
                                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                            <a href="#nav-modif">Cancelar</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            
                                
                </div>
                <!-- Contenio de tabla Baja de productos (Eliminar) -->
                <div class="tab-pane fade" id="nav-bajas" role="tabpanel" aria-labelledby="nav-bajas-tab" tabindex="0">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Descripción</th>
                                            <th>Cantidad</th>
                                            <th align="right">Precio</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="producto in productos">
                                            <td>{{ producto.codigo }}</td>
                                            <td>{{ producto.descripcion }}</td>
                                            <td>{{ producto.cantidad }}</td>
                                            <td align="right">{{ producto.precio }}</td>
                                            <td><button class="btn btn-danger" @click="eliminarProducto(producto.codigo)">Eliminar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            
                                <script src="https://unpkg.com/vue@next"></script>
                                

                </div>

                <br>

        </div>
    </div>
    <br>
</main>